<div ngbDropdown placement="bottom-left">
    <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-expanded="true"></i>
    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
        <a class="dropdown-item" href="javascript: void(0);"><i class="mdi mdi-account-edit"></i>  {{'BUTTONS.EDIT' | translate}}</a>
        <a class="dropdown-item" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>  {{'BUTTONS.DELETE' | translate}}</a>
    </div>
</div>